.sites{
	background-color: #ff5846;
	opacity: 0.9;
	border-radius: 5px;
	padding: 20px;

}

.box{
	border: none;
	margin: 5px;
	padding: 7px;
	background-color: #fff;

}

.info{
		padding: 20px;
		font-size: 1.4em;
		
	}

.sitesback{
	background-image: url("../images/sites1.jpg");
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

